@media (min-width: 767px) and (max-width: 1023px)
{
.grid {
    gap: 0px;
    grid-template-columns: repeat(5, 1fr);
}
} 
@media (max-width: 767px){
    .grid{
        gap:0px;
        grid-template-columns: repeat(4, 1fr);
        left: -10%;
    
    }
} 

 @media (max-width:767px){
    .mobile-app-box{
        grid-column: 1 / -1;
    }
} 

@media (max-width: 767px)
{
.mobile-app-box {
    display: grid;
    grid-template-columns: 1fr min(100%, 1232px) 1fr;
    position: relative;
    height: auto;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 0px;
    overflow: visible;
}
} 
 @media (max-width:800px)
{
    .login{
        display: none;
    }
} 


 @media (max-width:800px){
    .carousel{
        display: none;
    }
} 

@media (max-width:800px)
{
    .mobile-app{
        display: grid;
        grid-column: 2/auto;
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #5d3ebc;
        box-shadow: rgb(88 63 181 / 8%) 0px 2px 16px;
        z-index: -1;
        background-image: none;
        padding: 10px;
    }
    .getir-text-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .nav-img{
        display: flex;
        flex-direction: column;
    }
}




